@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.mouse-area {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 20px;
}

.content-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  max-width: 600px;
}

.greeting-heading {
  color: #ef4444;
  font-weight: 400;
  text-align: center;
}

.greeting-heading b {
  font-weight: 800;
}

.profile-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.profile-link-wrapper {
  margin-block: 20px;
}

.profile-link {
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: 900;
  color: #ef4444;
  text-decoration: none;
}

.profile-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 20'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='%23ef4444' stroke-width='2' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
}

.project-link {
  display: block;
}

.ticket-image {
  width: 100%;
  margin-bottom: 20px;
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

